.homeContainer {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
}

.cardLink {
   text-decoration: none;
   /* max-width: 25%; */
}
.divCardsContainer{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 16px;
   /* justify-content: center; */
   /* align-items: center; */
   /* width: 60rem; */
   /* height: 100%; */
   /* margin: 5px; */
 }

/* .cardContainer {
   display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  justify-items: center;
  padding: 2px 40px;
  margin: 20px 40px;
} */
.musicPlayerCont {
   /* justify-self: flex-start; */
   
   display: flex;
   /* flex-direction: column; */
   /* justify-content: center; */
   /* align-items: center; */
}