.homeContainer {
	margin: 85px 16px 0px 16px;
	display: flex;
	flex-direction: column;
}

.homeHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.columnReverse {
	display: flex;

}

.cardLink {
	text-decoration: none;
}
.divCardsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.musicPlayerCont {
	display: flex;
}

@media (max-width:768px) {
	.homeHeader {
		flex-direction: column;
	}

	.divCardsContainer {
		grid-template-columns: repeat(1, 1fr);
		
	}

	.center {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.columnReverse {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
}

