.bgcreate {
	margin-top: 6rem;
	place-items: center;
	display: flex;
	flex-direction: column;
}

.imgCont {
	position: absolute;
}

.pokedexImg {
	object-fit: cover;
	width: 90vw;
	z-index: -9;
	border-radius: 8px;
}

.formContent {
	position: relative;
	top: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.formContent h1 {
	font-size: 60px;
	margin: 0;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.8);
}

.formu {
	width: 80vw;
	display: flex;
	margin-top: 20px;
	flex-direction: row;
	justify-content: space-evenly;
}

.formu div {
	width: 25rem;
	margin-top: 15px;
	min-height: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: center;
}

.inputContainer {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.inputContainer input {
	width: 100%;
	height: 2rem;
	border-radius: 8px;
}

.inputContainer label {
	text-shadow: 0px 3px 0 rgba(0, 0, 0, 0.8);
}

.inputContainer p {
	margin: 0;
	font-size: 9.7px;
}
.selectContainer {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.selectContainer label {
	text-shadow: 0px 3px 0 rgba(0, 0, 0, 0.8);
}

.selectContainer select {
	width: 100%;
	height: 2.2rem;
	border-radius: 8px;
}

.selectContainer p {
	margin: 0;
	font-size: 10px;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin-right: 16.5rem;
	/* height: 20px; */
	gap: 8px;
}

.buttonContainer input {
	height: 35px;
	background-color: rgb(83, 80, 80);
	border-radius: 4px;
}

.errors {
	padding: 4px;
	background-color: rgb(209, 203, 203);
	color: #8d1206;
	font-size: 20px;
	text-align: left;
	border-radius: 4px;
	/* position: fixed; */
}

.createButton {
	background-color: #74171e;
	border-radius: 4px;
  padding: 8px;
	text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.8);

	color: #fff;
	font-family: 'Pixelation', sans-serif;
}

/*
 
 .bgcreate::after {
   content: "";
   background: url("../../assets/background.jpeg");
   background-size: cover;
   position: absolute;
   opacity: 0.5;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
 }
 
 .titulo {
   width: 900px;
   background-color: rgba(60, 95, 166, 0.6);
   text-align: center;
   border-radius: 15px 15px 0px 0px;
   margin: auto;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   color: rgb(255,100,0);
   -webkit-text-stroke: 0.5px #000;
 }
 
 
 
 .formu {
   padding-top: 5px;
   width: 100%;
   text-align: center;
 }
 
 .left {
   padding: 30px;
   margin-left: 20px;
   position: fixed;
 }
 
 .right {
   padding: 30px;
   margin-right: 0px;
   position: fixed;
   margin-left: 550px;
 }
 
 .labele {
   color: #0d0d0d;
   font-weight: 800;
   letter-spacing: 2px;
   font-size: 16px;
 }
 
 .inputcreate {
   flex-grow: 1;
   padding: 5px;
   outline: none;
   border: 1px solid #e73828;
   border-radius: 5px;
   background: #f3d8d5;
   text-transform: capitalize;
   transition: background 0.25s, box-shadow 0.25s;
   width: 100%;
   max-width: 300px;
   display: inline-flex;
 }
 
 .inputcreate:focus {
   background: #f2f2f2;
   box-shadow: 0 0 2px #dfb2ad;
 }
 
 .inputcreate::placeholder {
   color: #0d0d0d;
   opacity: 0.5;
 }
 
 .selected {
   flex-grow: 1;
   padding: 5px;
   outline: none;
   border: 1px solid #e73828;
   border-radius: 5px;
   background: #f3d8d5;
   transition: background 0.25s, box-shadow 0.25s;
   width: 100%;
   max-width: 300px;
   display: inline-flex;
   color: #0d0d0d;
 }
 
 
 
 .options {
   color: #0d0d0d;
   font-size: 14px;
   text-align: center;
 }
 .optionsdelete {
   color: #f22613;
   font-size: 14px;
   text-align: center;
   cursor: pointer;
 }
 
 .divcreatebutton {
   margin-left: 20%;
   margin-top: 50%;
 }
 
 .createbutton {
   background-color: rgb(255,100,0);
   border: 0.5px solid #0d0d0d;
   box-sizing: border-box;
   color: #0d0d0d;
   display: flex;
   font-size: medium;
   text-decoration: none;
   font-weight: 700;
   justify-content: center;
   line-height: 1.75rem;
   padding: 0.75rem 1.65rem;
   position: relative;
   text-align: center;
   width: auto;
   cursor: pointer;
   transform: rotate(-2deg);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }
 
 .createbutton:disabled {
   background-color: rgb(200,100,0);
 }
 
 .createbutton:focus {
   outline: 0;
 }
 
 .createbutton:after {
   content: "";
   position: absolute;
   border: 1px solid #0d0d0d;
   bottom: 4px;
   left: 4px;
   width: calc(100% - 1px);
   height: calc(100% - 1px);
 }
 
 .createbutton:hover:after {
   bottom: 2px;
   left: 2px;
 }
 
 .divhomebutton {
   margin-left: 87%;
   margin-top: -7%;
 }
 
 .homebutton {
   background-color: rgb(255,100,0);
   border: 0.5px solid #0d0d0d;
   box-sizing: border-box;
   color: #0d0d0d;
   display: flex;
   font-size: medium;
   text-decoration: none;
   font-weight: 700;
   justify-content: center;
   line-height: 1.75rem;
   padding: 0.75rem 1.65rem;
   text-align: center;
   width: auto;
   cursor: pointer;
   transform: rotate(-2deg);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }
 
 .homebutton:focus {
   outline: 0;
 }
 
 .homebutton:after {
   content: "";
   position: absolute;
   border: 1px solid #0d0d0d;
   bottom: 4px;
   left: 4px;
   width: calc(100% - 1px);
   height: calc(100% - 1px);
 }
 
 .homebutton:hover:after {
   bottom: 2px;
   left: 2px;
 }
 
 @media screen and (max-width: 1000px) {
   .main {
     display: flex;
     flex-direction: column;
     width: 70%;
     height: auto;
   }
 
   .titulo {
     width: 70%;
   }
 
   .left {
     display: flex;
     position: relative;
     flex-direction: column;
   }
 
   .right {
     display: flex;
     position: relative;
     flex-direction: column;
     margin-left: 20px;
   }
   .divcreatebutton {
     margin-top: 0;
     margin-bottom: 3%;
   }
 
   .divhomebutton {
     margin-left: 65%;
     margin-top: 4%;
   }
 }
 
 @media screen and (max-width: 550px) {
   .divcreatebutton {
     margin-left: 2%;
   }
   .divhomebutton {
     margin-left: 55%;
     margin-top: -3%;
   }
   .titulo {
     font-size: 24px;
   }
   .left {
     padding: 2px;
   }
   .right {
     padding: 2px;
   }
 
   .options {
     font-size: 10px;
   }
   .optionsdelete {
     font-size: 10px;
   }
   .errors {
     font-size: 10px;
   }
   .main {
     height: 80%;
   }
   .inputcreate {
     padding: 0;
     margin: 0%;
   }
 } */
