.bgcreate {
	margin-top: 6rem;
	place-items: center;
	display: flex;
	flex-direction: column;
}

.imgCont {
	position: absolute;
}

.pokedexImg {
	object-fit: cover;
	width: 90vw;
	z-index: -9;
	border-radius: 8px;
}

.formContent {
	position: relative;
	top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.formContent h1 {
	font-size: 60px;
	margin: 0;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.8);
}

.formu {
	width: 80vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.formu div {
	width: 25rem;
	margin-top: 15px;
	min-height: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: center;
}

.inputContainer {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.inputContainer input {
	width: 100%;
	height: 2rem;
	border-radius: 8px;
}

.inputContainer label {
	text-shadow: 0px 3px 0 rgba(0, 0, 0, 0.8);
}

.inputContainer p {
	margin: 0;
	font-size: 9.7px;
}
.selectContainer {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.selectContainer label {
	text-shadow: 0px 3px 0 rgba(0, 0, 0, 0.8);
}

.selectContainer select {
	width: 100%;
	height: 2.2rem;
	border-radius: 8px;
}

.selectContainer p {
	margin: 0;
	font-size: 10px;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin-right: 16.5rem;
	gap: 8px;
}

.errors {
	padding: 4px;
	background-color: rgb(209, 203, 203);
	color: #8d1206;
	font-size: 20px;
	text-align: left;
	border-radius: 4px;
}

.createButton {
	background-color: #74171e;
	border-radius: 4px;
	padding: 8px;
	text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.8);
	color: #fff;
	font-family: 'Pixelation', sans-serif;
}

@media (max-width: 768px) {
	.bgcreate {
		margin-top: 6rem;
	}

	.pokedexImg {
		width: 98vw;
		height: 150vh;
	}

	.formContent {
		position: relative;
		top: 6rem;
		display: flex;
		flex-direction: column;
	}

	.formContent h1 {
		text-align: center;
		font-size: 40px;
		margin: 0;
	}

	.formu {
		width: 80vw;
		flex-direction: column;
	}

	.formu div {
		width: 20rem;
		margin-top: 10px;
		min-height: 5rem;
	}

	.inputContainer {
		gap: 4px;
	}

	.buttonContainer {
		position: relative;
		left: 8rem;
		margin-bottom: 4px;
	}
	
}
